<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=SFMono-Regular&family=Helvetica+Neue&family=Lato" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="download-box">
            <div class="brand-logo">
                <img src="/static/logo-pan-48525a.svg" alt="Logo">
            </div>
            <h1 class="download-h1">GlobalProtect Portal</h1>
        
<form name="getsoftwarepage" id="getsoftwarepage_form" method="post">
    <table style="width:100%; padding-top: 20px;">
        <tr>
            <td align="center" valign='middle'>
                <div id="taGetSofewarePage">
                    <table width="300px" height="100px" border="0" cellpadding="0" cellspacing="0" ;>
                        <tr id="dDescription32" class="download-p" style="text-decoration: none; line-height: 1.5;" >
                            <td>Windows 32 bit OS needs to download and install Windows 32 bit GlobalProtect agent.</td>
                        </tr>
                        <tr id="dDescription64" class="download-p" style="text-decoration: none; line-height: 1.5;">
                            <td>Windows 64 bit OS needs to download and install Windows 64 bit GlobalProtect agent.</td>
                        </tr>
                        <tr id="dDescriptionMac" class="download-p" style="text-decoration: none; line-height: 1.5;">
                            <td>Mac OS needs to download and install Mac 32/64 bit GlobalProtect agent.</td>
                        </tr>
                        <tr id="dFormat">
                            <p class="download-p"><a class="download-link" style="text-decoration: none" href="/global-protect/getmsi.esp?version=32&platform=windows">Download Windows 32 bit GlobalProtect agent</a></p>
                            <p class="download-p"><a class="download-link" style="text-decoration: none"href="/global-protect/getmsi.esp?version=64&platform=windows">Download Windows 64 bit GlobalProtect agent</a></p>
                            <p class="download-p"><a class="download-link" style="text-decoration: none"href="/global-protect/getmsi.esp?version=none&platform=mac">Download Mac 32/64 bit GlobalProtect agent</a></p>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</form>

        </div>
      </div>
    </div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="portal/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>